@model HotelWizard.Models.RoomBooking
@{
    ViewBag.Title = "Details";
}


    <h3>Room Reservation Details For: @Model.customer.firstname @Model.customer.name</h3>
    <h3></h3>
    <hr />
<div class="details">
    <h4>Room Details:</h4>
    <dl>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.customer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.name)
        </dd>
        -->
        <dt>
            @Html.DisplayName("Check In")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkin)
        </dd>

        <dt>
            @Html.DisplayName("Check Out")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checkout)
        </dd>

        <dt>
            @Html.DisplayName("Room Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomType)
        </dd>

        <dt>
            @Html.DisplayName("Room Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomNum)
        </dd>

        <dt>
            @Html.DisplayName("Number of People")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numPeople)
        </dd>
    </dl>
</div>
<div class="details">
    <h4>Costs:</h4>
    <dl>
        <dt>
            @Html.DisplayName("Standard Room Rate")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.roomRate)
        </dd>

        <dt>
            @Html.DisplayName("Discounted Rate")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specialRate)
        </dd>

        <dt>
            @Html.DisplayName("Total Cost of Booking")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costs.totalCost)
        </dd>
        <dt>
            @Html.DisplayName("Deposit Due")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costs.depositDue)
        </dd>
        <dt>
            @Html.DisplayName("Amount of Deposit Paid")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costs.depositPaid)
        </dd>
        <dt>
            @Html.DisplayName("Balance left to pay")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costs.balanceDue)
        </dd>
        </dl>
</div>
<div class="details">
    <h4>Status:</h4>
    <dl>
        <dt>
            @Html.DisplayName("Confirmed and Deposit Paid?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDepositPaid)
        </dd>

        <dt>
            @Html.DisplayName("Checked In?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCheckedIn)
        </dd>
        <dt>
            @Html.DisplayName("Checked Out?")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isCheckedOut)
        </dd>
    </dl>
    <p>
        @Html.ActionLink("Change Status", "Edit", new { id = Model.RoomBookingId }, new { @class = "btn btn-default" })
    </p>
</div>
<p id="links">    
    @Html.ActionLink("Delete", "Delete", new { id = Model.RoomBookingId }, new { @class = "btn btn-default" }) |
    <input type="submit" value="Back" class="btn btn-default" onclick="goBack()" />

</p>
<script>
    function goBack() {
        window.history.back()
    }
</script>
