@model HotelWizard.Models.RoomCustomer
@{
    ViewBag.Title = "Accommodation Reservations for " + Model.name;
}

<h2>Details of Reservations for @Model.firstname @Model.name</h2>

<div>
    <hr />
               
    <table class="table">
        <tr>
            <th>Second Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Nationality</th>
            </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.name)
            </td>
            <td>
                @Html.DisplayFor(model => model.firstname)
            </td>
            <td>
                @Html.DisplayFor(model => model.email)
            </td>
            <td>
                @Html.DisplayFor(model => model.phone)
            </td>
            <td>
                @Html.DisplayFor(model => model.address)
            </td>
            <td>
                @Html.DisplayFor(model => model.nationality)
            </td>
            <td>

            </td>
            <td>
                @Html.ActionLink("Edit Customer Details", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Delete Customer", "Delete", new { id = Model.ID })
            </td>
        </tr>
    </table>

    @if (Model.Bookings.Count == 0) { 
        <h2>No Bookings yet for this Customer</h2>
        @Html.ActionLink("Create new booking", "Create","RoomBookings", new { id = Model.ID }, null)
    }
    else { 
    <table class="table">
        <tr>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>No. of People</th>
            <th>Room Type</th>
        </tr>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.checkin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.checkout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.room.roomType)
                </td>
              
                <td>
                    @Html.ActionLink("View Booking Details", "Details", "RoomBookings",
                            new { id = item.RoomBookingId }, null) |
                    @Html.ActionLink("Delete Booking", "Delete", "RoomBookings", new { id = item.RoomBookingId }, null)
                </td>
            </tr>
        }
    </table>
    }
        </div>
<p>
    @Html.ActionLink("Back to Reservations Home Page", "Index")
</p>