@model HotelWizard.Models.RoomBooking

@{
    ViewBag.Title = "Reservations Home";
}
<img class="small-logo" src="/Images/logo.jpg" />
<hr/>
<h3>Search By Customer Name</h3>
<h3 style="color:red">@ViewBag.errorNoName</h3>
<form name="input" action="/ReservationCustomers/Results" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Customer Surname:</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="name" name="name" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default">
            </div>
        </div>
    </div>
</form>

<h3>Search By Booking Reference</h3>
<h3 style="color:red">@ViewBag.errorNoBookingRef</h3>
<form name="input" action="/ReservationCustomers/ResultsByRef" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Booking Reference:</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="id" name="id" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default">
            </div>
        </div>
    </div>
</form>  

<h3>Check Availability and Create New Reservation</h3>
<h3 style="color:red">@ViewBag.errorMsg</h3>
@using (Html.BeginForm("Availability", "RoomBookings", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
   
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
 
        <div class="form-group">
            @Html.Label("Check In Date:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.checkin)
                @Html.ValidationMessageFor(model => model.checkin)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Check Out Date:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.checkout)
                @Html.ValidationMessageFor(model => model.checkout)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Check Availability" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }



