@model IEnumerable<HotelWizard.Models.RoomCustomer>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>

<p>
    @Html.ActionLink("Create New Customer", "Create")
</p>

@foreach (var customer in Model)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationality)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.nationality)
            </td>
            <td>
                @Html.ActionLink("Edit Customer Details", "Edit", new { id = customer.ID }) |
                @Html.ActionLink("Delete Customer", "Delete", new { id = customer.ID })
            </td>
        </tr>
        @if (customer.Bookings.Count == 0)
        {
            <tr>
                <td>No Bookings for this customer!</td>
                <td>@Html.ActionLink("Create new booking", "Create", "RoomBookings", new { id = customer.ID }, null)</td>
            </tr>
        }
        @foreach (var item in customer.Bookings)
        {
            <tr>
                <th>
                    Check in
                </th>
                <th>
                    Check out
                </th>
                <th>
                    No. People
                </th>
                <th>
                    Room Type
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.checkin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.checkout)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.room.roomType)
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.ActionLink("View Booking Details", "Details", "RoomBookings",
                            new { id = item.RoomBookingId }, null) |
                    @Html.ActionLink("Delete Booking", "Delete", "RoomBookings", new { id = item.RoomBookingId }, null)
                </td>
                <!--create a new room booking for a given customer-->
                <!--@Html.ActionLink("Create new booking", "Create","RoomBookings", new { id = customer.ID }, null)-->
            </tr>
        }
    </table>
    <hr id="thick" />
}


