@model HotelWizard.Models.RoomBooking

@{
    ViewBag.Title = "Availability";
}

<h2>Available Rooms</h2>

@if (ViewBag.errorMsg != null)
{
    <h2 style="color:red;">ViewBag.errorMsg</h2>
}
else
{
    <p>
        There are rooms available 
    </p>

using (Html.BeginForm("CreateNew", "ReservationCustomers"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Select Room</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            <input type="datetime" id="checkin" name="checkin" value=@ViewBag.checkin readonly="readonly">
            <input type="datetime" id="checkout" name="checkout" value=@ViewBag.checkout readonly="readonly">
            @Html.Label("Select Room Number")
            @Html.DropDownList("roomID", String.Empty)
        </div>
        <div class="form-group">
             <input type="submit" value="Continue With Booking" class="btn btn-default" />
            <input type="button" value="Start Again" class="btn btn-default" onclick="goBack()" />
        </div>
    </div>
}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function goBack() {
        window.history.back()
    }
</script>



