@model HotelWizard.Models.AdminConfig

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AdminConfig</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfTables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfTables)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdminConfigId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
